<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div class="nav-wrapper teal accent-3">
    <a href="#" class="brand-logo brown-text text-darken-1">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a [routerLink]="['/home']" class="brown-text text-darken-1">Home</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/test']" class="brown-text text-darken-1">Test</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="page-footer teal accent-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="brown-text text-darken-1">Footer Content</h5>
        <p class="brown-text text-darken-1">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="brown-text text-darken-1">Links</h5>
        <ul>
          <li><a class="brown-text text-darken-1" href="#!">Link 1</a></li>
          <li><a class="brown-text text-darken-1" href="#!">Link 2</a></li>
          <li><a class="brown-text text-darken-1" href="#!">Link 3</a></li>
          <li><a class="brown-text text-darken-1" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="brown-text text-darken-2" href="#!">More Links</a>
    </div>
  </div>
</footer>
